* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

html {
  --primary-color: black;
  --secondary-color: white;
  --tetiary-color: gainsboro;
  --fourth-color: rgb(230, 67, 67);
}

h1 {
  font-family: sans-serif;
  font-size: 50px;
  margin-top: 1rem;
  margin-left: 20px;
}

h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
}

h3 {
  font-family: sans-serif;
  margin-bottom: 0.5rem;
  color: var(--tetiary-color);
  font-size: 14px;
}

h4 {
  font-family: sans-serif;
  margin-bottom: 0.25rem;
  margin-top: 0.35rem;
  color: var(--primary-color);
  font-size: 14px;
}

p {
  font-family: sans-serif;
  color: var(--primary-color);
  font-size: 13px;
  margin-bottom: 0.25rem;
}
.category_list_container {
  height: 500px;
  margin: 30px 50px;
}

@media screen and (max-width: 800px) {
  .category_list_container {
    height: auto;
  }

  .box {
    margin-top: 30px;
  }
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 3px solid var(--primary-color);
  width: 100%;
  height: auto;
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

.box a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.box h2 {
  color: var(--primary-color);
}

.box:hover {
  transform: scale(1.1);
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.box:hover h2 {
  color: var(--secondary-color);
}

footer {
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}

footer h2 {
  color: var(--secondary-color);
}

footer p {
  color: var(--secondary-color);
}

.grid1_1-3-1 div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2vw;
  text-align: center;
}

/********produktliste***********/

.grid_section {
  display: flex;
  position: relative;
  justify-content: center;
  z-index: 2;
}

.container {
  margin: 20px 35px;
  padding: 10px;
  max-width: 992px;
}

.card {
  position: relative;
  padding: 0.3rem;
  margin-bottom: 2rem;
}

.img_case {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--tetiary-color);
  width: 100%;
  height: 300px;
  margin: 20px 0;
}

.card img {
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
  max-height: 300px;
}
.card a {
  font-family: sans-serif;
  color: var(--primary-color);
  font-size: 15px;
  transition: color 0.3s;
}

.card a:hover {
  color: var(--tetiary-color);
}

.discount {
  display: none;
  width: 45px;
  height: fit-content;
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 0.5rem;
  overflow: hidden;
  background-color: var(--fourth-color);
}

.sold {
  display: none;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 25px;
  left: 5px;
  padding: 0.5rem;

  background-color: var(--tetiary-color);
}

.vis {
  display: block;
}

.sold-img img {
  filter: grayscale(100%);
}

.sold p {
  font-size: 18px;
  font-weight: bold;
  margin: 0.25rem auto;
}

.discount p {
  font-size: 15px;
  margin: 0.25rem auto;
}

/********navbar***********/
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: #ffffff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.logo img {
  width: 100px;
  height: 70px;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  font-family: sans-serif;
  padding: 10px;
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  color: var(--tetiary-color);
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #333333;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }

  .product-summary {
    margin-top: 1.5rem;
  }
}

/********product***********/

.productContainer {
  margin: 20px 10px;
}

.product-summary h4 {
  margin-top: 1.5rem;
}

.product-summary label {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.sizefit_box {
  margin-top: 1.5rem;
}

.product-image img {
  max-width: 100%;
  border-radius: 5px;
}

.product-info,
.product-summary {
  flex: 1;
  min-width: 250px;
}

.product-info {
  padding-right: 20px;
}

.product-summary {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 5px;
}

/* Button and Select */
button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #555;
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
